@CHARSET "UTF-8";

._dwp_toolBar ._dwp_tbContainer {
	list-style-type: none;
    background: rgba(241, 241, 241, 1);
    border-bottom: 1px solid #BEBEBE;
	padding: 3px;
}

._dwp_toolBar ._dwp_tbContainer .hidden {
	display: none !important;
}

._dwp_toolBar ._dwp_tbContainer ._dwp_toolBarItem {
	display: inline-block;
	border: 1px solid rgba(0,0,0,0);
	border-radius: 4px;
	vertical-align: middle;
	transition: 200ms;
}

._dwp_toolBar ._dwp_tbContainer ._dwp_toolBarItem.allowHover:not(.disabled):not(.checked) {
	cursor: pointer;
}

._dwp_toolBar ._dwp_tbContainer ._dwp_toolBarItem.disabled {
	cursor: default;
	border: 1px solid rgba(0,0,0,0) !important;
	background: none !important;
	opacity: 0.5;
}

._dwp_toolBar ._dwp_tbContainer ._dwp_toolBarItem.allowHover:hover:not(.checked) {
	background: #c1dcf1;
    border: 1px solid #8fa8cc;
}

._dwp_toolBar ._dwp_tbContainer ._dwp_toolBarItem.checked {
	background: #c1dcf1;
    border: 1px solid #8fa8cc;
}


._dwp_toolBar ._dwp_tbContainer ._dwp_toolBarItem.checked:hover:not(.group) {
	background: #b2cee3;
    border: 1px solid #8fa8cc;
}

._dwp_toolBar ._dwp_tbContainer ._dwp_toolBarItem.checked.group {
	cursor: default;
}

._dwp_toolBar ._dwp_tbContainer ._dwp_toolBarSeparator {
	width: 1px;
	height: 16px;
	display: inline-block;
	margin: 0 3px;
	vertical-align: middle;
    background: rgba(194, 194, 194, 0.4);
	box-shadow: 0 0 1px #303030;	
}