@CHARSET "UTF-8";

.multiEditor {
	overflow: initial !important;
	text-align: left;
}

.multiEditor .CodeMirror {
	width: 100% !important;
	height: 100% !important;
	max-height: inherit;
	max-width: inherit;
	box-sizing: border-box;
}

.multiEditor div.CodeMirror span.CodeMirror-matchingbracket {
	outline: none;
	color: #f00 !important;
	font-weight: bold;
}

.CodeMirror-hints, .CodeMirror-lint-tooltip {
	z-index: 100000 !important;
}

.multiEditor.invalid .CodeMirror .CodeMirror-lines {
	background: -webkit-linear-gradient(top, #E4B0B0, #EECACA 30%, #FAE1E1 80%, #E9BDBD);
    background: -moz-linear-gradient(top, #E4B0B0, #EECACA 30%, #FAE1E1 80%, #E9BDBD);
    background: linear-gradient(top, #E4B0B0, #EECACA 30%, #FAE1E1 80%, #E9BDBD);
    background: -o-linear-gradient(top, #E4B0B0, #EECACA 30%, #FAE1E1 80%, #E9BDBD);
    background: -ms-linear-gradient(top, #E4B0B0, #EECACA 30%, #FAE1E1 80%, #E9BDBD);
}
