@CHARSET "UTF-8";

._dwp_itemList  ._dwp_scrollBox  ._dwp_scrollPane > ._dwp_listBoxContainer > ._dwp_listBoxItem {
	padding: 0;
	margin: 0 3px 3px 0;
	border: none;
}

._dwp_itemList  ._dwp_scrollBox  ._dwp_scrollPane > ._dwp_listBoxContainer > ._dwp_listBoxItem:first-child {
}


._dwp_itemList  ._dwp_scrollBox  ._dwp_scrollPane > ._dwp_listBoxContainer > li._dwp_listBoxItem ._dwp_listItem {
	padding: 4px 6px;
	position: relative;
}

._dwp_itemList  ._dwp_scrollBox  ._dwp_scrollPane > ._dwp_listBoxContainer > li._dwp_listBoxItem ._dwp_listItem ._dwp_closeBtn {
	width: 14px;
	height: 14px;
	position: absolute;
	background-image: url('../images/icons.png');
	background-position: 0 -32px;
	top: 2px;
	right: 2px;
	opacity: 0.7;
	cursor: pointer;
	z-index: 1;
	display: none;
}

._dwp_itemList  ._dwp_scrollBox  ._dwp_scrollPane > ._dwp_listBoxContainer > li._dwp_listBoxItem.highlighted ._dwp_listItem ._dwp_closeBtn,
._dwp_itemList  ._dwp_scrollBox  ._dwp_scrollPane > ._dwp_listBoxContainer > li._dwp_listBoxItem.selected ._dwp_listItem ._dwp_closeBtn
 {
	display: block;
}
/*
._dwp_itemList  ._dwp_scrollBox  ._dwp_scrollPane > ._dwp_listBoxContainer > li._dwp_listBoxItem.highlighted ._dwp_listItem ._dwp_closeBtn,
._dwp_itemList >._dwp_scrollBox  ._dwp_scrollPane > ._dwp_listBoxContainer > li._dwp_listBoxItem.selected ._dwp_listItem ._dwp_closeBtn {
	display: none;
}
*/
._dwp_itemList  ._dwp_scrollBox  ._dwp_scrollPane > ._dwp_listBoxContainer > li._dwp_listBoxItem ._dwp_listItem ._dwp_closeBtn:hover {
	background-position: -14px -32px;
	opacity: 1;
}

._dwp_itemList  ._dwp_scrollBox  ._dwp_scrollPane > ._dwp_listBoxContainer > li._dwp_listBoxItem._dwp_separator {
	display: block;
}

._dwp_itemList  ._dwp_scrollBox  ._dwp_scrollPane > ._dwp_listBoxContainer.basic > li {
	display: block;
}