._dwp_itemList.tableView{
	background: #ffffff;
}

._dwp_itemList.tableView *{
	box-sizing: border-box;
}

/* table view header */

._dwp_itemList.tableView > .tableViewHeader {
	display: block;
	background: #d0d7dc;
	width: 100%;
}

._dwp_itemList.tableView > .tableViewHeader.hidden {
	display: none;
}

._dwp_itemList.tableView > .tableViewHeader tr.tableViewHeaderRow {
}

._dwp_itemList.tableView > .tableViewHeader tr.tableViewHeaderRow > th.cellHeader {
	border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    font-weight: normal;
    font-size: 14px;
}

._dwp_itemList.tableView > .tableViewHeader tr.tableViewHeaderRow > th.cellHeader:first-child {
	border-left: none;
}

._dwp_itemList.tableView > .tableViewHeader tr.tableViewHeaderRow > th.cellHeader:last-child {
	border-right: none;
}



._dwp_itemList.tableView > ._dwp_scrollBox > ._dwp_scrollPane{
	min-height: 100%;
}

._dwp_itemList.tableView >  ._dwp_scrollBox{
	top: 0px;
}
._dwp_itemList.tableView  ._dwp_scrollBox {
	position: absolute;
	left: 0;
	top: 0px;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
}

._dwp_itemList.tableView  ._dwp_scrollBox > ._dwp_scrollPane > ul._dwp_listBoxContainer {
	min-width: 100%;
    display: table;
}

._dwp_itemList.tableView ._dwp_scrollBox ._dwp_scrollBox{
	background: white;
}

._dwp_itemList.tableView  ._dwp_scrollBox > ._dwp_scrollPane > ul._dwp_listBoxContainer > li._dwp_listBoxItem{
	display: table-row;
	border: 1px solid rgba(0,0,0,0);
	margin: 0;
	overflow: hidden;
}

._dwp_itemList.tableView  ._dwp_scrollBox > ._dwp_scrollPane > ul._dwp_listBoxContainer > li._dwp_listBoxItem > * {
	display: table-cell;
	border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

._dwp_itemList.tableView  ._dwp_scrollBox > ._dwp_scrollPane > ul._dwp_listBoxContainer > li._dwp_listBoxItem > *:first-child {
	border-left: none;
}

._dwp_itemList.tableView  ._dwp_scrollBox > ._dwp_scrollPane > ul._dwp_listBoxContainer > li._dwp_listBoxItem > *:last-child {
	border-right: none;
}


._dwp_itemList.tableView  ._dwp_scrollBox > ._dwp_scrollPane > ul._dwp_listBoxContainer > li._dwp_listBoxItem > ._dwp_listItem {
	padding: 0;
    border-top: 1px solid rgba(0,0,0,0);
	border-bottom: 1px solid rgba(0,0,0,0);
    background: transparent;
}