@CHARSET "UTF-8";

._dwp_listBox {
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: small;
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.5),rgba(248, 248, 248, 0.7),rgba(255, 255, 255, 0.5));
	background: -moz-linear-gradient(rgba(255, 255, 255, 0.5),rgba(248, 248, 248, 0.7),rgba(255, 255, 255, 0.5));
    background: linear-gradient(rgba(255, 255, 255, 0.5),rgba(248, 248, 248, 0.7),rgba(255, 255, 255, 0.5));
    background: -o-linear-gradient(rgba(255, 255, 255, 0.5),rgba(248, 248, 248, 0.7),rgba(255, 255, 255, 0.5));
    background: -ms-linear-gradient(rgba(255, 255, 255, 0.5),rgba(248, 248, 248, 0.7),rgba(255, 255, 255, 0.5));
}

._dwp_listBox ._dwp_noItems {
	display: none;
	text-align: center;
	color: #8A7E75;
	position: absolute;
    margin: auto;
    top: 50%;
    width: 100%;
}

._dwp_listBox ._dwp_noItems.visible {
	display: block;
}

._dwp_listBox ul._dwp_listBoxContainer {
	margin: 0;
	padding: 0;
	position: relative;
}

._dwp_listBox ul._dwp_listBoxContainer li._dwp_listBoxItem {
	margin: 1px 0 0 0;
	list-style-type: none;
	padding: 2px 10px;
	border: 1px solid rgba(255,255,255,0);
}

._dwp_listBox ul._dwp_listBoxContainer li._dwp_listBoxItem[filtered="true"]{
	display: none;
}

._dwp_listBox ul._dwp_listBoxContainer li._dwp_listBoxItem.allowSelect {
	cursor: pointer;
}

._dwp_listBox ul._dwp_listBoxContainer li._dwp_listBoxItem:first-child {
	margin: 0;
}

._dwp_listBox ul._dwp_listBoxContainer li._dwp_listBoxItem.allowHover {
	cursor: pointer;
}

._dwp_listBox ul._dwp_listBoxContainer li._dwp_listBoxItem.allowHover.highlighted:not(.selected) {
	background: #d6e2ea;
}

._dwp_listBox ul._dwp_listBoxContainer li._dwp_listBoxItem.selected {
	background: #b0d0e8;
	color: #07234c;
	cursor: default;
}

._dwp_listBox > ._dwp_listBoxSelector {
	position: absolute;
	background-color: rgba(211, 89, 49, 0.5);
	border: 1px solid rgba(152, 96, 78, 0.8);
	border-radius: 3px;
}

._dwp_listBox > .horizontalScrollBox {
	position: relative;
}

._dwp_listBox > .horizontalScrollBox > .horizontalScrollPane {
	height: 100%;
    max-height: inherit;
}