@CHARSET "UTF-8";

.documentRenderer {
	padding: 4px;
	text-align: justify;
}

.documentRenderer > p {
	margin: 6px 0;
	text-align: justify;
}

.documentRenderer > p > span.highlight,
.documentRenderer > span.highlight {
	background: #decca5;
	cursor: pointer;
	padding: 0 1px;
    border-radius: 3px;
    
    transition: background 200ms;
}

.documentRenderer > p > span.highlight:hover,
.documentRenderer > span.highlight:hover {
	background: #d4b572;
}

.documentRenderer > p > span.highlight.active,
.documentRenderer > span.highlight.active {
	background: #d4a540;
}