@CHARSET "UTF-8";

.documentRenderer {
	padding: 4px;
	text-align: justify;
}

.documentRenderer > p {
	margin: 6px 0;
	text-align: justify;
}

.documentRenderer > span.highlight {
	background-color: #decca5;
	cursor: pointer;
}