@CHARSET "UTF-8";

.workspaceView {
}

.workspaceView > ._dwp_toolBar {}

.workspaceView > ._dwp_toolBar li._dwp_toolBarItem {
	padding: 2px 3px;
	position: relative;
}

.workspaceView > ._dwp_toolBar li._dwp_toolBarItem > .icon {
	width: 16px;
    height: 16px;
    background-image: url('../images/icons16.png');
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.workspaceView > ._dwp_toolBar li._dwp_toolBarItem[key="createFolder"] > .icon {
	background-position: -80px -32px;
}

.workspaceView > ._dwp_toolBar li._dwp_toolBarItem[key="createOntology"] > .icon {
	background-position: -96px -32px;
}

.workspaceView > ._dwp_toolBar li._dwp_toolBarItem[key="import"] > .icon {
	background-position: -64px -32px;
}

.workspaceView > ._dwp_toolBar li._dwp_toolBarItem[key="export"] > .icon {
	background-position: -16px -48px;
}

.workspaceView > ._dwp_toolBar li._dwp_toolBarItem[key="delete"] > .icon {
	background-position: -112px -32px;
}

.workspaceView > ._dwp_toolBar li._dwp_toolBarItem[key="refresh"] {
	float: right;
}

.workspaceView > ._dwp_toolBar li._dwp_toolBarItem[key="refresh"] > .icon {
	background-position: 0 0;
	margin-left: 1px;
}

.workspaceView > ._dwp_treeview {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 29px;
    height: auto;
    padding: 2px 2px 2px 4px;
}

.workspaceView > ._dwp_treeview ._dwp_treeViewNode {
    border-top: 1px solid #F1F1F1;
    margin-left: 18px;
}
.workspaceView > ._dwp_treeview ._dwp_treeViewNode > ._dwp_nodeHeader {
	width: 100%;
    box-sizing: border-box;
	padding: 2px;
}
.workspaceView > ._dwp_treeview ._dwp_treeViewNode > ._dwp_nodeHeader > ._dwp_nodeIcon {
	display: none;
}
.workspaceView > ._dwp_treeview ._dwp_treeViewNode > ._dwp_nodeHeader > ._dwp_itemContainer {
	position: absolute;
    right: 0;
    left: 0;
    top: 2px;
}

.workspaceView > ._dwp_treeview ._dwp_treeViewNode > ._dwp_nodeHeader {
	height: 20px;
}

.workspaceView > ._dwp_treeview ._dwp_treeViewNode > ._dwp_nodeHeader > ._dwp_expandCollapseToggle {
	margin-top: 2px;
}

.workspaceView > ._dwp_treeview ._dwp_treeViewNode.node {}
.workspaceView > ._dwp_treeview ._dwp_treeViewNode.node > ._dwp_nodeHeader {}

.workspaceView > ._dwp_treeview ._dwp_treeViewNode.node > ._dwp_nodeHeader > ._dwp_nodeIcon {
	background-position: -32px 0;
}

.workspaceView > ._dwp_treeview ._dwp_treeViewNode.node.collapsed > ._dwp_nodeHeader > ._dwp_nodeIcon {}

.workspaceView > ._dwp_treeview ._dwp_treeViewNode.ontology > ._dwp_nodeHeader,
.workspaceView > ._dwp_treeview ._dwp_treeViewNode.spinontology > ._dwp_nodeHeader {
	height: 32px;
}

.dragHelper > .workspaceNode,
.dragHelper > .odd {
	background: -webkit-linear-gradient(top, #FFF5E0 0%, #EFDACA 15%, #EFD8AF 95%, #ECCA9D 100%);
	background: -moz-linear-gradient(top, #FFF5E0 0%, #EFDACA 15%, #EFD8AF 95%, #ECCA9D 100%);
    background: linear-gradient(top, #FFF5E0 0%, #EFDACA 15%, #EFD8AF 95%, #ECCA9D 100%);
	background: -o-linear-gradient(top, #FFF5E0 0%, #EFDACA 15%, #EFD8AF 95%, #ECCA9D 100%);
	background: -ms-linear-gradient(top, #FFF5E0 0%, #EFDACA 15%, #EFD8AF 95%, #ECCA9D 100%);
	
	padding: 2px;
	font-size: 11px;
} 

.dragHelper > .odd em {
	font-style: normal;
	font-weight: bold;
	color: #803C00;
}

.workspaceView > ._dwp_treeview ._dwp_treeViewNode .workspaceNode.acceptDraggable,
.workspaceView.acceptDraggable {
	box-shadow: inset 0 0 2px #6478A0;
    background-color: #C8DDF9;
}

._dwp_tab[clientid="workspace"] > ._dwp_tabText {}

._dwp_tab[clientid="workspace"] > ._dwp_tabText > ._dwp_primitiveEditor {
	vertical-align: middle;
}

._dwp_tab[clientid="workspace"] > ._dwp_tabText > ._dwp_button {
	vertical-align: middle;
    margin-top: 1px;
	margin-left: 4px;
}

._dwp_droplistTool ul > li.menuSeparator .separator {
    height: 1px;
    background-color: rgb(181, 146, 124);
}

._dwp_droplistTool ul > li.menuItem {
	position: relative;
}

._dwp_droplistTool ul > li.menuItem > .text {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

._dwp_droplistTool ul > li.menuItem > .icon {
	width: 16px;
	height: 16px;
	background-image: url('../images/icons16.png');
	display: inline-block;
	vertical-align: middle;
}

._dwp_droplistTool ul > li.menuItem.menuCreate {}

._dwp_droplistTool ul > li.menuItem.menuCreate > .icon {
	background-position: 0 -48px;
}

._dwp_droplistTool ul > li.menuItem.menuWorkspace {}

._dwp_droplistTool ul > li.menuItem.menuWorkspace > .icon {
	background-position: -64px 0;
}

._dwp_droplistTool ul > li.menuItem.menuWorkspace > .delete {
    position: absolute;
    top: 2px;
    right: 5px;
    padding: 3px;
    border-radius: 10px;
}

._dwp_droplistTool ul > li.menuItem.menuWorkspace > .delete > .icon {
	width: 10px;
	height: 10px;
	background-image: url('../images/icons10.png');
	background-position: -20px 0;
}

._dwp_droplistTool ul > li.menuItem.menuWorkspace > .delete:hover {
	background-color: #F5AD8C;
}