@CHARSET "UTF-8";

.documentsView {
}

.documentsView > ._dwp_tabview {
}

.documentsView > ._dwp_tabview > ._dwp_tabPane {
}

.documentsView > ._dwp_tabview > ._dwp_tabPane > ._dwp_tab {
	border-radius: 6px 6px 0 0;
    padding: 3px 10px 3px 6px;
}

.documentsView > ._dwp_tabview > ._dwp_tabPane > ._dwp_tab > ._dwp_icon {
	width: 16px;
	height: 16px;
	background-image: url('../images/icons16.png');
	margin-right: 2px;
}

.documentsView > ._dwp_tabview > ._dwp_tabPane > ._dwp_tab[type="PDF"] > ._dwp_icon {
	background-position: -96px 0;
}

.documentsView > ._dwp_tabview > ._dwp_tabPane > ._dwp_tab[type="DOCX"] > ._dwp_icon {
	background-position: -16px 0;
}

.documentsView > ._dwp_tabview > ._dwp_tabPane > ._dwp_tab > ._dwp_tabText {
	margin-right: 4px;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.documentsView > ._dwp_tabview > ._dwp_tabPane > ._dwp_tab > ._dwp_closeBtn {}