@CHARSET "UTF-8";

.documentView {
}

.documentView > .docScroll {
	position: absolute;
    height: auto;
    top: 29px;
    bottom: 0;
	left: 0;
    right: 0;
    display: none;
}

.documentView[mode="view"] > .docScroll {
	display: block;
}

.documentView > .editorContainer {
	position: absolute;
    height: auto;
    top: 29px;
    bottom: 0;
	left: 0;
    right: 0;
    display: none;
}

.documentView[mode="edit"] > .editorContainer {
	display: block;
}


.documentView > ._dwp_toolBar {
	height: 29px;
}

.documentView > ._dwp_toolBar li._dwp_toolBarItem {
	padding: 2px 3px;
	position: relative;
}

.documentView > ._dwp_toolBar li._dwp_toolBarItem > .icon {
	width: 16px;
    height: 16px;
    background-image: url('../images/icons16.png');
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.documentView > ._dwp_toolBar li.right {
	float: right;
}

.documentView > ._dwp_toolBar li._dwp_toolBarItem[key="saveDocument"] > .icon {
	background-position: -64px -64px;
}


.documentView > ._dwp_toolBar li._dwp_toolBarItem[key="viewMode"] > .icon {
	background-position: -16px -80px;
}

.documentView > ._dwp_toolBar li._dwp_toolBarItem[key="editMode"] > .icon {
	background-position: -32px -80px;
}

.documentView > .editorContainer > .documentEditor {
	height: 100%;
}