@CHARSET "UTF-8";

.relevantDocsView {
	padding: 0 6px;
}


.analyticsView > ._dwp_toolBar li._dwp_toolBarItem[key="checkDocument"] > .icon {
	background-position: -32px -64px;
}

.analyticsView > ._dwp_toolBar li._dwp_toolBarItem[key="checkThreshold"] > .slider {
	width: 150px;
	margin-top: 2px;
}

.analyticsView > ._dwp_toolBar li._dwp_toolBarItem[key="checkThreshold"] > .slider > .ui-slider-handle {
    font-size: 10px;
    padding: 1px 3px;
    text-align: center;
    width: initial;
}

.analyticsView > ._dwp_toolBar li._dwp_toolBarItem[key="checkThreshold"] > .slider > .ui-slider-handle.ui-state-active {
	 
}


.relevantDocsView > .docList {}

.relevantDocsView > .hidden {
	display: none;
}

.relevantDocsView > .message {
	padding: 4px 8px;
    color: #960000;
}


.relevantDocsView > .docList ._dwp_listItem {
}

.relevantDocsView > .docList ._dwp_listBoxItem.selected ._dwp_listItem {
	background: #fbf5e5 !important;
    text-shadow: none;
    border-color: #b3ac92 !important;
}

 

.relevantDocsView > .docList ._dwp_listItem > .title {
	color: #525252 !important;
	font-size: 11px;
}

.relevantDocsView > .docList ._dwp_listItem > .distance {
	font-size: 10px;
}

.relevantDocsView > .docList ._dwp_listItem > .distance > span {
	color: #984a4a;
}

.relevantDocsView > .docList ._dwp_listItem > .documentRenderer {
	display: none;
}

.relevantDocsView > .docList ._dwp_listItem > .error {
	padding: 4px 8px;
    color: #960000;
	display: none;
}