@CHARSET "UTF-8";

.loginForm {
	width: initial !important;
	height: initial !important;
	position: absolute;
	padding: 30px;
}

.loginForm > .logo {
	display: inline-block;
	vertical-align: middle;
}

.loginForm > .fields {
	display: inline-block;
	vertical-align: middle;
}

.loginForm > .fields > ._dwp_editor {
	display: block;
	margin: 0 0 10px 20px;
}

.loginForm > .fields > .cookieLabel {
	vertical-align: middle;
	margin: 0 0 10px 20px;
	cursor: pointer;
}

.loginForm > .fields > .cookieLabel > input {
	vertical-align: middle;
	margin-right: 4px;
	cursor: pointer;
}

.loginForm > .btnContainer {
	text-align: center;
	margin-top: 20px;
}

.loginForm > .btnContainer > .message {
	margin-bottom: 10px;
	color: #C54300;
	text-align: left;
}

.loginForm > .btnContainer > .message.hidden {
	display: none;
}

.loginForm > .btnContainer > ._dwp_button {
	font-size: 18px;
}