.jsb-comboEditor {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 34px;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    overflow: visible;
    padding-right: 20px;
}

.jsb-comboEditor > i.dropDownBtn {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: 1px;
    cursor: pointer;
    font-size: 13px;
}

.jsb-comboEditor > i.dropDownBtn:after {
    content: "";
    width: 0;
    height: 0;
	font-size: 11px;
    border-width: 4px 4px 0 4px;
    border-style: solid;
    border-color: black transparent;
}

.jsb-comboEditor > i.clearBtn {
    display: none;
    position: absolute;
    right: 24px;
    top: calc(50% - 7px);
    padding: 0;
    background: none;
    color: darkred;
    line-height: 0.5;
    cursor: pointer;
}

.jsb-select > .curVal:hover ~ i.clearBtn,
.jsb-select > i.clearBtn:hover {
    display: inline-block;
}

.jsb-comboEditor > .curVal {
    width: 100%;
    height: 100%;
    cursor: text;
    padding: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
}

.jsb-comboEditor > .curVal > .simpleValue {
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
}

.jsb-comboEditor > .curVal > input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: white;
    padding: 0 4px;
    /*padding: 5px;*/
}

.jsb-comboEditor > .dropDown {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 32px;
    min-height: 4px;
    z-index: 10;
    background: white;
    border: 1px solid lightgrey;
    max-height: 150px;
    overflow-y: auto;
}

.jsb-comboEditor > .dropDown:empty {
    background: royalblue;
}

.jsb-comboEditor > .dropDown > li {
    position: relative;
    list-style: none;
    cursor: pointer;
    padding: 5px;
    border: 1px solid transparent;
}

.jsb-comboEditor > .dropDown > li:hover {
    background: rgba(220, 220, 220, 0.45);
    border: 1px solid rgb(158, 158, 158);
}

.jsb-comboEditor > .dropDown > li.selected {
    background: rgb(220, 220, 220);
    border: 1px solid rgb(158, 158, 158);
}