.jsb-editor {
    display: inline-block;
}

.jsb-editor > label {
    display: inline-block;
    width: 100px;
}

.jsb-editor > label + input {
    width: calc(100% - 100px);
}

.jsb-editor > input {   /*[type="text"]*/
    border: 2px solid #e6e9ed;
    border-radius: 3px;
    font-size: 1em;
    padding: 2px 4px;
    width: 100%;
    height: 100%;
    outline: none;
}

.jsb-editor > input[type="text"]:focus {
    box-shadow: 0 0 0 2px #8fa8cc;
	border: 1px solid #8fa8cc;
}

.jsb-editor > input[type="color"] {
    -webkit-appearance: square-button;
    width: 44px;
    height: 23px;
    background-color: buttonface;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-image: initial;
    padding: 1px 2px;
}

.jsb-editor > input[type="range"] {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.jsb-editor > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.jsb-editor > input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.jsb-editor > input.invalid {
    border: 2px solid red;
}