<configuration scan="true" scanPeriod="30 seconds">
    <!-- This will give you some valuable info about logback config upon runtime. Remove this for production. -->

    <property name="shortPattern" value="[%level] [%d{HH:mm:ss.SSS}] [%logger] - %msg%n"/>
    <!-- <property name="shortPattern" value="[%highlight(%-5level)] [%d{HH:mm:ss.SSS}] %cyan([%logger]) - %msg%n" />-->
    <property name="mediumPattern" value="[%level] [%date %d{HH:mm:ss.SSS}] [%logger] [%thread] - %msg%n"/>
    <property name="fullPattern"
              value="[%level] [%date %d{HH:mm:ss.SSS}] [%logger] [%thread] [%X{akkaSource}] [%file:%line] - %msg%n"/>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${shortPattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE-MAIN" class="ch.qos.logback.core.FileAppender">
        <file>./logs/jsbeans.log</file>
        <encoder>
            <pattern>${fullPattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE-SCRIPTING" class="ch.qos.logback.core.FileAppender">
        <file>./logs/scripting.log</file>
        <encoder>
            <pattern>${fullPattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE-AUTH" class="ch.qos.logback.core.FileAppender">
        <file>./logs/auth.log</file>
        <encoder>
            <pattern>${shortPattern}</pattern>
        </encoder>
    </appender>


    <root level="WARNING">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE-MAIN"/>
    </root>


    <logger name="ru.sis" level="INFO"/>

    <logger name="ru.avicomp" level="DEBUG"/>
    <logger name="org.semanticweb" level="DEBUG"/>


    <!-- System (Akka, Scala, Logback, Reflections, Jetty ...) loggers -->
    <logger name="akka" level="INFO"/>
    <logger name="scala" level="INFO"/>

    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="org.reflections" level="WARN"/>
    <logger name="net.sf.ehcache" level="WARN"/>
    <logger name="org.eclipse.jetty" level="WARN"/>

    <!-- jsBeans loggers  -->
    <logger name="org.jsbeans" level="INFO"/>
    <logger name="Remoting" level="INFO"/>
    <logger name="Cluster" level="INFO"/>

    <logger name="org.jsbeans.scripting" level="DEBUG">
        <appender-ref ref="FILE-SCRIPTING"/>
    </logger>
    <logger name="org.jsbeans.security" level="INFO">
        <appender-ref ref="FILE-AUTH"/>
    </logger>

    <logger name="org.jsbeans.cluster.ClusteredDispatcherService" level="DEBUG"/>


</configuration>