@CHARSET "UTF-8";

._jsb_DatePicker {
	display: inline-block;
}

._jsb_DatePicker > .picker {
	width: 100%;
}

._jsb_DatePicker > input.picker {
	border: 1px solid #ccc;
    border-radius: 4px;
	padding: 2px 20px 2px 4px;
    box-sizing: border-box;
	outline: none;
    -webkit-touch-callout: initial;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

._jsb_DatePicker > input.picker:focus:not([readonly]) {
	outline-color: rgba(0, 0, 0, 0);
    border: 1px solid #8fa8cc;
    color: #555;
}

._jsb_DatePicker > input.picker[readonly] {
	background-color: #ededed;
}

._jsb_DatePicker > i {
	position: absolute;
    right: 3px;
    height: 100%;
    font-size: 16px;
    top: 50%;
    margin-top: -9px;
}