.jsb-navigator.jsb-scrollPanel > .panel > .list > div {
    min-width: 34px;
    padding: 0 4px;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    border: 1px solid rgba(2, 47, 78, 0);
    color: #39505f;
    transition: background-color 300ms;
}

.jsb-navigator.jsb-scrollPanel > .panel > .list > div:not(:last-child):hover {
	background-color: rgb(164 179 189);
    transition: background-color 300ms;
}

.jsb-navigator.jsb-scrollPanel > .panel > .list > [key='splitter'] {
   display: flex;
   align-items: center;
   margin: 0 3px;
}

.jsb-navigator.jsb-scrollPanel > .panel > .list > div:last-child {
    background-color: #d37531;
    color: #fff;
    cursor: initial;
}