.jsb-panel {
    box-sizing: border-box;
    padding: 4px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
    overflow: hidden;
}

.jsb-panel.hideBorder {
    border: none;
}

.jsb-panel * {
    box-sizing: border-box;
}

.jsb-panel > .header > * {
    vertical-align: middle;
}

.jsb-panel > .header > h1 {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0;
    display: inline-block;
	max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.jsb-panel > .header > h1 > .jsb-editor {
    position: absolute;
    left: 0;
    right: 0;
}

.jsb-panel > .header > h1.collapsible {
    cursor: pointer;
}

.jsb-panel > .header > h1 > i {
    margin-left: 4px;
    opacity: 0.5;
    font-size: 13px;
    transition: 300ms;
}

.jsb-panel > .header > h1 > i:hover {
	opacity: 1;
}

.jsb-panel > .header > .jsb-editor {
    outline: none;
    color: inherit;
    border-radius: 5px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    padding: 0 4px;
}

.jsb-panel > .header > .jsb-editor.notValid {
    border: 2px solid red;
}

.jsb-panel > .header > ul {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0;
    list-style: none;
}

.jsb-panel > .header > ul.left {
}

.jsb-panel > .header > ul.right {
}

.jsb-panel > .header > ul > li {
    float: left;
    cursor: pointer;
    position: relative;
    display: block;
}

.jsb-panel > .header > ul > li:not(first-child) {
    margin-left: 2px;
    margin-right: 2px;
}

.jsb-panel > .header > ul > li > i {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 300ms;
}

.jsb-panel.collapsed > .header > ul > li > i {
	transform: rotate(-90deg);
}

.jsb-panel > .content {
	border-top: 2px solid #E6E9ED;
}