.jsb-positioner {
    display: inline-block;
    position: relative;
    min-width: 150px;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    overflow: visible;
    padding-right: 20px;
    border-radius: 3px;
}

.jsb-positioner > i.dropDownBtn {
    position: absolute;
	top: calc(50% + 3px);
    right: 0;
    cursor: pointer;
    height: 100%;
    padding: 0 5px;
}

.jsb-positioner > i.dropDownBtn:after {
    content: "";
    width: 0;
    height: 0;
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: black transparent;
}

.jsb-positioner > .curVal {
    width: 100%;
    min-height: 20px;
    cursor: pointer;
    padding: 0 4px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
}

.jsb-positioner > .dropDown {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 22px;
    min-height: 4px;
    z-index: 10;
    background: white;
	padding: 2px;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
    box-shadow: 1px 2px 3px 0 #555;
}

.jsb-positioner > .dropDown:empty {
    background: royalblue;
}

.jsb-positioner > .dropDown > .string {
    height: 30px;
	white-space: nowrap;
}

.jsb-positioner > .dropDown > .string > div {
	height: calc(100% - 2px);
    display: inline-block;
    border-radius: 4px;
    margin: 1px;
	border: 1px solid #446990;
    background: #678cb3;
    
    transition: 300ms;
}

.jsb-positioner > .dropDown > .string > div.dummy {
	background: transparent;
    border: none;
}


.jsb-positioner > .dropDown > .string > div:not(.dummy) {
    cursor: pointer;
}

.jsb-positioner > .dropDown > .string > div:not(.dummy):not(.selected):hover {
	background: rgba(94, 144, 208, 0.45);
    border: 1px solid rgb(42, 78, 121);
}

.jsb-positioner > .dropDown > .string > div.selected {
	background: rgb(211, 117, 49);
    border: 1px solid rgb(142, 74, 24);
    cursor: default;
}