.jsb-scrollPanel {
    border-radius: 3px;
    padding: 2px;
	background: #e8e8e8;
	overflow: hidden;
}

.jsb-scrollPanel.horizontal {
    height: 21px;
}

.jsb-scrollPanel.vertical {
    height: 100%;
}

.jsb-scrollPanel > .scroll {
    position: absolute;
    padding: 6px 5px;
    background: lightgrey;
    cursor: pointer;
    z-index: 10;
    opacity: 0.7;
	border-radius: 3px;
}

.jsb-scrollPanel > .scroll:hover {
    opacity: 1;
}

.jsb-scrollPanel.horizontal > .scroll {
    top: 0;
    width: 18px;
    height: 100%;
}

.jsb-scrollPanel.vertical > .scroll {
    width: 100%;
    height: 18px;
    text-align: center;
}

.jsb-scrollPanel.horizontal > .prevScroll {
    left: 0;
}

.jsb-scrollPanel.horizontal > .nextScroll {
    right: 0;
}

.jsb-scrollPanel.vertical > .prevScroll {
    top: 0;
}

.jsb-scrollPanel.vertical > .nextScroll {
    bottom: 0;
}

.jsb-scrollPanel > .scroll:after {
    position: absolute;
    content: "";
	width: 0;
	height: 0;
	font-size: 13px;
}

.jsb-scrollPanel.horizontal > .prevScroll:after {
	border-top: 5px solid transparent;
	border-right: 8px solid #555;
	border-bottom: 5px solid transparent;
	margin-top: calc(50% - 6px);
}

.jsb-scrollPanel.horizontal > .nextScroll:after {
    border-top: 5px solid transparent;
    border-left: 8px solid #555;
    border-bottom: 5px solid transparent;
    margin-top: calc(50% - 6px);
}

.jsb-scrollPanel.vertical > .prevScroll:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid black;
}

.jsb-scrollPanel.vertical > .nextScroll:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid black;
}

.jsb-scrollPanel > .panel {
    white-space: nowrap;
    position: absolute;
    transition: left 0.8s;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.jsb-scrollPanel > .panel.horizontal {
    flex-direction: row;
    left: 0;
    min-width: 100%;
}

.jsb-scrollPanel > .panel.vertical {
    flex-direction: column;
    width: 100%;
    top: 0;
}

.jsb-scrollPanel > .panel.moving {
    transition: none;
}