@CHARSET "UTF-8";

.jsb-tabview {
	width: 100%;
	height: 100%;
	position: relative;
}

.jsb-tabview > .tabPane {
    list-style: none;
    margin: 0;
    padding: 0;
    background: rgba(230, 230, 230, 1);
    overflow: hidden;
}

.jsb-tabview.topTabPosition > .tabPane,
.jsb-tabview.bottomTabPosition > .tabPane {
	left: 0;
	right: 0;
	padding: 3px 6px 0 6px;
    height: 40px;
}

.jsb-tabview.topTabPosition > .tabPane {
    top: 0;
    border-bottom: 1px solid #ddd;
}

.jsb-tabview.bottomTabPosition > .tabPane {
    bottom: 0;
    border-top: 1px solid #ddd;
}

.jsb-tabview.leftTabPosition > .tabPane,
.jsb-tabview.rightTabPosition > .tabPane {
    display: inline-block;
	top: 0;
	bottom: 0;
	padding: 3px 6px 0 6px;
    width: 70px;
}

.jsb-tabview.leftTabPosition > .tabPane {
	left: 0;
	margin: 0 -1px 0 0;
    border-right: 1px solid #ddd;
}

.jsb-tabview.rightTabPosition > .tabPane {
    right: 0;
    border-left: 1px solid #ddd;
}

.jsb-tabview > .tabPane .tab {
	min-width: 25px;
	min-height: 25px;
	cursor: pointer;
	text-align: center;
    color: #aaa;
    border: 0px solid #d4d4d4;
    border-width: 1px 1px 0px 1px;
    background: #f7f7f7;
    transition: background 200ms, color 200ms;
}

.jsb-tabview.topTabPosition > .tabPane .tab,
.jsb-tabview.bottomTabPosition > .tabPane .tab {
    display: inline-block;
    float: right;
    padding: 4px 10px;
    height: 35px;
}

.jsb-tabview.topTabPosition > .tabPane .tab {
    margin: 1px -1px 0px;
    border-radius: 6px 6px 0 0;
}

.jsb-tabview.topTabPosition > .tabPane .tab > * {
    display: inline-block;
    vertical-align: middle;
}

.jsb-tabview.topTabPosition > .tabPane .tab > .icon {
    margin-right: 6px;
}

.jsb-tabview.topTabPosition > .tabPane .tab > .title {
    word-break: break-word;
}

.jsb-tabview.topTabPosition > .tabPane .tab.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
}

.jsb-tabview.topTabPosition > .tabPane .tab.active {
    color: #383838;
    border: 1px solid #ddd;
    border-top: 2px solid #d37531;
    border-bottom: 1px solid #fff;
    background: #fff;
    cursor: default;
    height: 36px;
}

.jsb-tabview.topTabPosition > .tabPane .tab:not(.active):hover {
	color: #696969;
    background: #fff;
}

.jsb-tabview.topTabPosition > .tabPane .tab.icon {
    display: inline-block;
	vertical-align: middle;
}

.jsb-tabview.topTabPosition > .contentPane,
.jsb-tabview.bottomTabPosition > .contentPane {
    width: 100%;
    height: calc(100% - 40px);
}

.jsb-tabview.leftTabPosition > .contentPane,
.jsb-tabview.rightTabPosition > .contentPane {
    display: inline-block;
    width: calc(100% - 70px);
    height: 100%;
    vertical-align: top;
}